@model Car

<div class="modal fade" id="carDetailsModal" tabindex="-1" role="dialog" aria-labelledby="carDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="carDetailsModalLabel">@Model.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="@Model.Img" style="max-width: 100%;" />
                <p>Name : @Model.Name</p>
                <p>Model : @Model.Model</p>
                <p>Description : @Model.LongDesc</p>
                <p>Price: @Model.Price</p>
                <p></p>
            </div>
        </div>
    </div>
</div>
